<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>MyMarket</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<div th:fragment="navigation(activeTab)">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" th:classappend="${activeTab == 'Home' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/}" th:text="#{nav.home}" />
                </li>
                <li class="nav-item" th:classappend="${activeTab == 'Shop' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/shop}" th:text="#{nav.shop}" />
                </li>
                <li class="nav-item" th:classappend="${activeTab == 'Cart' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/cart}" th:text="#{nav.cart}" />
                </li>
                <li sec:authorize="hasRole('ADMIN')" class="nav-item"
                    th:classappend="${activeTab == 'AdminDashboard' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/admin}">Admin Dashboard</a>
                </li>
                <li sec:authorize="hasRole('CUSTOMER')" class="nav-item"
                    th:classappend="${activeTab == 'profile' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/profile}">Личный кабинет</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <form th:action="@{/logout}" method="POST">
                        <button class="btn btn-outline-secondary" type="submit" th:text="#{nav.logout}"></button>
                    </form>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <form class="align-middle" th:action="@{/authenticateTheUser}" method="POST">
                        <div class="input-group-prepend">
                            <input class="form-control" type="text" th:placeholder="#{nav.login.field}" name="username"
                                   aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">
                            <input class="form-control" type="text" th:placeholder="#{nav.password}" name="password"
                                   aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">
                            <button class="btn btn-outline-warning btn-sm" style="margin-left: 10px" type="submit" th:text="#{nav.login.submit}"></button>
                            <a th:href="@{/register/}" class="btn btn-outline-warning" style="margin-left: 10px;" th:text="#{nav.register}"></a>
                        </div>
                    </form>
                </li>

                <li sec:authorize="isAnonymous()" class="nav-item">
                    <div class="input-group-prepend">
                        Войти через:
                        <a href="https://oauth.vk.com/authorize?client_id=7199458&display=page&redirect_uri=http://localhost:8190/app/vk/callback&scope=friends&response_type=code&v=5.103" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">ВК</a>
                    </div>
                </li>

                <div class="dropdown" style="margin-left: 10px;">
                    <button class="btn btn-outline-secondary dropdown-toggle" th:text="#{nav.lang}" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" th:href="@{/?lang=ru}">RU</a>
                        <a class="dropdown-item" th:href="@{/?lang=en}">ENG</a>
                    </div>
                </div>
            </ul>
        </div>
    </nav>
</div>