<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>

    <title>Products</title>

    <style>
        .table_image {
            max-width:64px;
            max-height:64px;
            width:auto;
            height:auto;
        }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div th:replace="~{navigation :: navigation(Shop)}" />
        <h2 th:text="#{filters}"/>
        <form th:action="@{/shop}" method="get">
            <div class="dropdown dropright">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="category" th:text="#{filters.category}" />
                <div class="dropdown-menu" aria-labelledby="category">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="category.electronics" th:text="#{filters.category.electronics}" />
                    <div class="dropdown-menu" aria-labelledby="category.electronics">
                        <div class="form-check">
                                <input type="checkbox" class="form-check-input"  th:name="Headphones" value="on" th:checked="${param.Headphones != null}" th:text="#{filters.category.electronics.headphones}" />
                        </div>
                        <div class="form-check">
                                <input type="checkbox" class="form-check-input"  th:name="Smartphones" value="on" th:checked="${param.Smartphones != null}" th:text="#{filters.category.electronics.phones.smartphones}" />
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <input th:value="${param.word != null} ? ${param.word}" class="form-control" th:name="word" type="text" th:placeholder="#{filters.word}">
            <input th:value="${param.minPrice != null} ? ${param.minPrice}" class="form-control" th:name="minPrice" th:type="number" th:placeholder="#{filters.price.min}">
            <input th:value="${param.maxPrice != null} ? ${param.maxPrice}" class="form-control" th:name="maxPrice" th:type="number" th:placeholder="#{filters.price.max}">
            <button type="submit" class="btn btn-primary" th:text="#{filters.submit}"></button>
        </form>
        <br>

        <h2 th:text="#{products.list}"/>
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th></th>
                <th th:text="#{products.columnNames.title}"></th>
                <th th:text="#{products.columnNames.price}"></th>
                <th th:text="#{products.columnNames.actions}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="p : ${page.getContent()}">
                <td th:text="${p.id}"/>
                <td>
                    <img class="table_image" th:src="@{'/images/products/' + ${p.id} + '/img_1.jpg'}">
                </td>
                <td th:text="${p.title}"/>
                <td th:text="${p.price}"/>
                <td>
                    <a class="btn btn-primary" th:href="@{'/shop/details?id=' + ${p.id}}"  th:text="#{products.columnNames.actions.details}" target="_blank" />
                    <a class="btn btn-primary" th:href="@{'/cart/add?id=' + ${p.id}}"  th:text="#{products.columnNames.actions.addToCart}" />
                </td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item" th:classappend="${!(page.getNumber() > 0) ? 'disabled' : ''}">
                    <a th:class="page-link" th:href="@{'/shop?currentPage=' + ${page.getNumber()} + ${filters}}" th:text="#{paging.prev}"/>
                </li>
                <li class="page-item" th:classappend="${page.getNumber() + 1 == i ? 'active' : ''}" th:each="i : ${#numbers.sequence(1, page.getTotalPages())}">
                    <a class="page-link" th:href="@{'/shop?currentPage=' + ${i} + ${filters}}" th:text=${i} />
                </li>
                <li class="page-item" th:classappend="${!(page.getNumber() < page.getTotalPages() - 1) ? 'disabled' : ''}">
                    <a th:class="page-link" th:href="@{'/shop?currentPage=' + ${page.getNumber() + 2} + ${filters}}" th:text="#{paging.next}"/>
                </li>
            </ul>
        </nav>



        <h2 th:if="${viewsHistory==null && viewsHistory>0}" th:text="#{products.viewsHistory}"/>
        <table th:if="${viewsHistory==null && viewsHistory>0}" class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th></th>
                <th th:text="#{products.columnNames.title}"></th>
                <th th:text="#{products.columnNames.price}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="p : ${viewsHistory}">
                <td>
                    <img class="table_image" th:src="@{'/images/products/' + ${p.id} + '/img_1.jpg'}">
                </td>
                <td th:text="${p.title}"/>
                <td th:text="${p.price}"/>
            </tr>
            </tbody>
        </table>



    </div>
</body>
</html>